extends layout
block content
	table
		td
			img(src="/assets/flags/#{country.nombre}.png", height="80")
		td
			a(href="/country/#{country.id}")
				h1= country.nombre
			p
				b Continente: 
				span= country.continente
			p
				b Capital: 
				span= country.capital
			p
				b X: 
				span= country.y
			p
				b Y: 
				span= country.x
			p
				b Relevante: 
				span= country.relevancia
			p
				b Dificultad: 
				span= country.dificultad
			p
				h3 Monumentos
				table
					each monumento in country.monumentos
						tr
							td
								img(src="/assets/flags/#{country.nombre}.png", height="40")
							td
								p
									b Nombre: 
									span= monumento.nombre
								p
									b X: 
									span= monumento.x
								p
									b Y: 
									span= monumento.y
			p
				h3 Ciudades
				table
					each ciudad in country.ciudades
						tr
							td
								img(src="/assets/flags/#{country.nombre}.png", height="40")
							td
								p
									b Nombre: 
									span= ciudad.nombre
								p
									b X: 
									span= ciudad.x
								p
									b Y: 
									span= ciudad.y

block script
	
block style
	style
		p,h3 { margin: 0; padding: 0;}