extends layout
block content
	div#container
		button#sound-toggle Sound On/Off
		p#progress Loaded 0%
	unless graph.getAccessToken()
		//div.fb-login-button(data-scope="email, user_about_me, user_birthday, user_location, publish_stream")
	audio#background-music(autoplay, loop)
		source(src="/assets/sounds/bg.mp3")
block script

	script.
		var level1 = !{JSON.stringify(level1)};
		var level2 = !{JSON.stringify(level2)};
		var level3 = !{JSON.stringify(level3)};
		var fs_auth = '&client_id=' + '#{conf.fs_client_id}' + '&client_secret=' + '#{conf.fs_client_secret}';
		var fs_pics;
		var song;
		document.body.style.cursor = 'pointer';
	script(src="/scripts/Globals.js")
	script(src="/scripts/Animations.js")
	script(src="/scripts/kinetic-v4.7.2.min.js")
	script(src="/socket.io/socket.io.js")
	script
		// Socket.io messages	
		var socket = io.connect();
		socket.on('init', function(msg){
			alert(msg.msg)
		});
		socket.emit('hola');
		
		var last = "";
		
		
		
		var winPlaceholder = new Kinetic.Image({
			y: -200
		});
		
		var winText = new Kinetic.Text({
			x: 0,
			y: winPlaceholder.getHeight() + 100,
			text: 'Pasaste a ',
			fontSize: 40,
			fontFamily: 'Chicken Butt',
			fill: '#555',
			align: 'center',
			width: screenWidth
		});
		
		socket.on('message', function (data) {
			
			if (typeof data !== "object")
				user = eval("(" + data + ")");
			else
				user = data;
			
			if (last == "") {
				last = user.username;
			}
			else if (last == user.username) {
				return;
			}
			
			last = user.username;
			
			winText.setText('Pasaste a ' + user.username);
			
			
			
			var textTween = new Kinetic.Tween({
				node: winText,
				y: 35 * screenHeightFactor,
				duration: 3,
				easing:		Kinetic.Easings.EaseOut,
				onFinish: function () {
					
					this.destroy();
					
					setTimeout( function () {
					
						var tween = new Kinetic.Tween({
							node: winText,
							y: -winPlaceholder.getHeight() + 30 * screenHeightFactor,
							duration: 2,
							easing:		Kinetic.Easings.EaseIn,
							onFinish: function () {}
						});
						
						var tween2 = new Kinetic.Tween({
							node: winPlaceholder,
							y: -winPlaceholder.getHeight(),
							duration: 2,
							easing:		Kinetic.Easings.EaseIn,
							onFinish: function () {}
						});
						
						tween.play();
						tween2.play();
					}, 1000);
				}
			});
			
			var placeHolderTween = new Kinetic.Tween({
				node: winPlaceholder,
				y: -10 * screenHeightFactor,
				duration: 3,
				easing:		Kinetic.Easings.EaseOut,
			});
			
			textTween.play();
			placeHolderTween.play();
			
		});
		
		function tellScore(score) {
			console.log(score);
			socket.emit('message', score);
		}
	script(src="/scripts/Resolution.js")
	script(src="/scripts/Adapter.js")
	script(src="/scripts/WORLD.GEO.JSON.js")
	script(src="/scripts/DataLoader.js")
	script(src="/scripts/game.js", defer="defer")
	
	script
		$(document).ready( function () {
			
			song = $('#background-music')[0];
			
			song.pause();
			
			$('#sound-toggle').click( function (e) {
				
				
				
				if (song.paused)
					song.play();
				else
					song.pause();
			});
		});
block style
	style
		/*#container {
			margin: 50px auto;
			width: 760px;
		}*/
		@font-face {
			font-family: 'Chicken Butt';
			src: url('/stylesheets/Chicken Butt.ttf');
		}
		div {
			margin: 0;
			padding: 0;
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			/*3D transform */
			-webkit-transform: scale3d(1, 1, 1);
			-o-user-select: none;
			user-select: none;
		}