doctype 5
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(property="og:title", content="World Challenge")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://worldchallenge.aws.af.cm")
		//meta(property="og:image", content="http://worldchallenge.aws.af.cm")
		meta(property="og:description", content="Bla bla geo-challenge")
		meta(property="fb:app_id",content="#{conf.client_id}")
		//script(id="facebook-jssdk",src="//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=598237096854554")
		//link(rel='stylesheet', href='/stylesheets/style.css')
		style
			html, body { margin: 0; padding: 0; }
			body { background-color: #95a5a6; }
		block style
		body
			div#fb-root
			script
				window.fbAsyncInit = function() {
					FB.init({
						appId      : '#{conf.client_id}', // App ID
						status     : true, // check login status
						cookie     : true, // enable cookies to allow the server to access the session
						xfbml      : true // parse XFBML
					});
					
					FB.getLoginStatus(function(response) {
						uid = response.authResponse.userID ? response.authResponse.userID : null;
						console.log(uid);
					});
					
					// Listen to the auth.login which will be called when the user logs in
					// using the Login button
					FB.Event.subscribe('auth.login', function(response) {
						// We want to reload the page now so PHP can read the cookie that the
						// Javascript SDK sat. But we don't want to use
						// window.location.reload() because if this is in a canvas there was a
						// post made to this page and a reload will trigger a message to the
						// user asking if they want to send data again.
						console.log(response);
						window.location = window.location;
					});
					
					FB.Canvas.setAutoGrow();
				};
				
				// Load the SDK Asynchronously
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			block content
			script(src="/scripts/jquery-1.9.1.min.js")
			block script